BasedOnStyle: WebKit
---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakBeforeBraces: Linux
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: true
